<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Terawhere.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA08AB141EB5BDD500A2860F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA08AB2B1EB5BDD500A2860F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA08AB361EB5BDD500A2860F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
